@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

The Milwaukee Department of Public Works has the greatest impact of any city department on daily life in Milwaukee.

<p>We contribute to the quality of life and economic development of Milwaukee in many ways. We provide the cleanest, 
   safest water in the country; we foster the growth and beauty of our urban forest and boulevards to the envy of others around the country; 
   and we complete sewer, water and paving projects on or ahead of schedule. At any hour, we plow snow to keep our streets safe for passage; 
   we also provide reliable and efficient garbage and recycling collection.</p>
We are responsible for the design, maintenance, and operation of streets, sidewalks, alleys, bridges, sewers, water mains, underground conduit, 
telecommunications services, traffic signals, and street lighting for the City of Milwaukee that covers more than 95 square miles; 221 city buildings, 
a fleet of over 1,500 vehicles, 476 acres of boulevards and green space, and 200,000 street trees.


