
<br />
<br />

<center><h3>Look Up Pick Up Dates and Change Pick Up Dates</h3></center>

<form name="nPark" id="nPark" action="garbage_day?embed=Y" method="post">
    For information on your scheduled garbage and recycling collection dates, enter your address below.<br><br>
    Residents can place up to one cubic yard (about the size of an easy chair) of excess debris out to be collected along with their garbage carts.  Items larger than one cubic yard can be scheduled for pickup for a fee.<br><br>
    <table>
        <tbody>
            <tr>
                <td><table class="text" style="border-style:none;border-collapse:collapse;"><tbody><tr><td><input type="text" name="laddr" id="laddr" size="5" maxlength="5" value=""></td></tr><tr><td nowrap="true"><span class="small">(Example: 200</span></td></tr></tbody></table></td>
                <td>
                    <table style="border-style:none;border-collapse:collapse;" class="text">
                        <tbody>
                            <tr>
                                <td>
                                    <select name="sdir" id="sdir">
                                        <option value="">-D-</option>
                                        <option value="N">N</option>
                                        <option value="E">E</option>
                                        <option value="S">S</option>
                                        <option value="W">W</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="sname" id="sname">
                                        <option value="">-STREET-</option>
                                        <option value="1ST">1ST</option>
                                        <option value="2ND">2ND</option>
                                        <option value="3RD">3RD</option>
                                        <option value="4TH">4TH</option>
                                        <option value="5TH">5TH</option>
                                        <option value="6TH">6TH</option>
                                        <option value="7TH">7TH</option>
                                        <option value="8TH">8TH</option>
                                        <option value="9TH">9TH</option>
                                        <option value="10TH">10TH</option>
                                        <option value="11TH">11TH</option>
                                        <option value="12TH">12TH</option>
                                        <option value="13TH">13TH</option>
                                        <option value="14TH">14TH</option>
                                        <option value="15TH">15TH</option>
                                        <option value="16TH">16TH</option>
                                        
                                    </select>
                                </td>
                                <td>
                                    <select name="stype" id="stype">
                                        <option value="">-SUF-</option>
                                        <option value="AV">AV</option>
                                        <option value="BL">BL</option>
                                        <option value="CR">CR</option>
                                        <option value="CT">CT</option>
                                        <option value="DR">DR</option>
                                        <option value="LA">LA</option>
                                        <option value="PK">PK</option>
                                        <option value="PL">PL</option>
                                        <option value="RD">RD</option>
                                        <option value="SQ">SQ</option>
                                        <option value="ST">ST</option>
                                        <option value="TR">TR</option>
                                        <option value="WA">WA</option>
                                        <option value=""></option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="small">(E</span></td>
                                <td><span class="small">WELLS</span></td>
                                <td><span class="small">ST)</span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table><br>
    <input type="hidden" value="Y" name="embed" id="embed">
    <input type="submit" value="Submit" name="Submit" id="Submit"><input type="reset" value="Reset" name="Reset" id="Reset">
</form>
<br />
<br />
<center><img src="images/truck2.jpg" alt="Trucks at work" /></center>









