@{
    ViewBag.Title = "Employee";
}
<h3>@ViewBag.Message</h3>
Municipal trash collection has remained largely unchanged for decades. It's time to disrupt the status quo with a flexible, online pickup manager that includes the following features:
As a new visitor to the site, I want to be able to enter my info and sign up so I can start receiving regular trash pickups.
As a registered user, I want to be able to change my pickup day for one week or for every week to fit my schedule.
As a registered user, I want to be able to specify a period of time that I don't want pickup so I can go on vacation.
As a registered user, I want an easy way to see how much I owe this month for the pickups I did get so I can budget accordingly.
As a trash collection worker, I want to see which customers in my zip code are receiving a pickup today.
As a trash collection worker, I want to see the customers on my route using Google Maps integration.

AIzaSyAmWzh_9pOm6l7xbGBOWrRNsSiiiQh8sNo 