@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Welcome</h1>
        <p class="lead">The Need-To-Know Changes in the City of Milwaukee's Garbage Collections.</p>
          <p>New garbage and recycling schedules are now in effect beginning January 1, 2017 through December 31, 2018.  
            Residents must roll their garbage and recycling carts to the curb by 7:00 a.m. on the designated collection day.  
            Sanitation crews will not collect the carts from their storage areas.</p>
    </center>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recycling Schedules</h2>
        <p>
            From May to Thanksgiving, residents will receive recycling pickup on guaranteed dates.
            Most households serviced with carts will receive collection every three weeks. Residents serviced with bins will continue to receive once per week collection.

            <h4><b>Guaranteed recycling schedule program:</b></h4>
        <p>1. Carts must be rolled to collection points on designated pickup dates</p>

        <p>2. Carts picked up more frequently than once-per-month program</p>

        <p>3. More frequent collection will increase recycling capacity to accommodate those extra recyclables that used to pile up between pickups</p>

        <p>4. Increased recycling means that we are sending less to landfills, which saves the City money and helps to lower fees and taxes for everyone</p>

            <h4><b>How will I know when my collection dates are?</b></h4>
            Look for collection schedules which will be placed on your recycling cart in the spring, or check the online schedule to look up your next recycling and garbage collection dates.

            <h4><b>Keep Milwaukee Clean & Green.</b></h4>
       
        
    </div>
    <div class="col-md-4">
        @*<h2>Trash Schedules</h2>
        <p>
            Residents will receive recycling pickup dates.
            Most households serviced with carts will receive collection every three weeks. Residents serviced with bins will continue to receive once per week collection.

            <h4><b>Scheduled Pick-Up program:</b></h4>
        <p>1. Debris must be on collection points on designated pickup dates</p>

        <p>2. More frequent collection will increase debri capacity to accommodate those extra debris that used to pile up between pickups</p>

        <p>3. Saves the City money and helps to lower fees and taxes for everyone</p>

            <h4><b>How will I know when to schedule a pick-up?</b></h4>
            Check the online specs to determine if you need to schedule an additional collection date.

        </p>*@
    </div>
    <div class="col-md-4">
        <h2>Trash Schedules</h2>
        <p>
            Residents will receive recycling pickup dates.
            Most households serviced with carts will receive collection every three weeks. Residents serviced with bins will continue to receive once per week collection.

            <h4><b>Scheduled Pick-Up program:</b></h4>
        <p>1. Debris must be on collection points on designated pickup dates</p>

        <p>2. More frequent collection will increase debri capacity to accommodate those extra debris that used to pile up between pickups</p>

        <p>3. Saves the City money and helps to lower fees and taxes for everyone</p>

        <h4><b>How will I know when to schedule a pick-up?</b></h4>
        Check the online specs to determine if you need to schedule an additional collection date.

        </p>
        @*<h2>Employees</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Log In &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Customers</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Log In &raquo;</a></p>
    </div>*@
</div>